<h2>Pinned repositories</h2>
<clr-datagrid>
  <clr-dg-column [clrDgField]="'name'">
    Name
    <clr-dg-string-filter [clrDgStringFilter]="nameFilter"></clr-dg-string-filter>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'license'">
    License
    <clr-dg-string-filter [clrDgStringFilter]="licenseFilter"></clr-dg-string-filter>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'commits'">
    Commits
    <clr-dg-string-filter [clrDgStringFilter]="commitFilter"></clr-dg-string-filter>
  </clr-dg-column>
  <clr-dg-column>
    Contributors
    <clr-dg-string-filter [clrDgStringFilter]="contributorFilter"></clr-dg-string-filter>
  </clr-dg-column>
  <clr-dg-column>
    Releases
    <clr-dg-string-filter [clrDgStringFilter]="releaseFilter"></clr-dg-string-filter>
  </clr-dg-column>
  <clr-dg-column>
    Branches
    <clr-dg-string-filter [clrDgStringFilter]="branchFilter"></clr-dg-string-filter>
  </clr-dg-column>

  <clr-dg-row *ngFor="let repo of repos">
    <clr-dg-cell>
      <a [routerLink]="['repo', repo.name]">{{ repo.name }}</a>
    </clr-dg-cell>
    <clr-dg-cell>{{ repo.license || "None" }}</clr-dg-cell>
    <clr-dg-cell>{{ repo.commits }}</clr-dg-cell>
    <clr-dg-cell>
      <span title="Should have 'push' rights to see contributors">
        {{ repo.contributors || "Unknown" }}
      </span>
    </clr-dg-cell>
    <clr-dg-cell>{{ repo.releases }}</clr-dg-cell>
    <clr-dg-cell>{{ repo.branches }}</clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>{{repos.length}} users</clr-dg-footer>
</clr-datagrid>
